td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0;
    display: flex !important;
}

svg {
    height: 150px;
}

.input-group-button {
    margin-left: 15px;
}